/*
	These are the status page styles which adapt the narrow-jumbotron theme
	to better fit the purpose of working as a status page.
*/


/* Jumbotron. */

.jumbotron {
	text-align: left;
	color: #FFF;
}

.jumbotron.all-is-well-true {
	background-color: #7AB800;
}

.jumbotron.all-is-well-false {
	background-color: #FF7B29;
}